<article class="blog-main single-post">

  <h3 class="am-article-title">
      <a href="##">{{ page.title }}</a>
  </h3>
  <h4 class="am-article-meta blog-meta">
    <span class="post-date" style="margin-right:20px;">{{ page.date | date:"%Y-%m-%d" }}</span>
    <span class="ds-thread-count" data-thread-key="{{ BASE_PATH }}{{ page.url }}"></span>
  </h4>
  <!-- <h3 class="am-article-title blog-title">
    {{ page.title }}
  </h3>
  <h4 class="am-article-meta post-detail">{{ page.date | date:"%Y-%m-%d" }}</h4>
  <h4 class="am-article-meta post-detail">
    <span class="post-date">{{ page.date | date:"%Y-%m-%d" }}</span>
    <span class="ds-thread-count" data-thread-key="{{ BASE_PATH }}{{ page.url }}"></span>
  </h4> -->
  <div class="am-g blog-content" style="margin-left: 0;">
    {{ content }}
  </div>
</article>

<hr class="am-article-divider blog-hr">

<ul class="am-pagination blog-pagination">
    {% if page.previous %}
      <li class="am-pagination-prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&laquo; 上一篇</a></li>
    {% else %}
      <li class="am-pagination-prev disabled"><a>&larr; 上一篇</a></li>
    {% endif %}
    
    {% if page.next %}
      <li class="am-pagination-next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">下一篇 &raquo;</a></li>
    {% else %}
      <li class="am-pagination-next disabled"><a>下一篇 &rarr;</a>
    {% endif %}
</ul>

<!-- 多说评论框 start -->
  <div class="ds-thread" data-thread-key="{{page.id}}" data-title="{{page.title}}" data-url="{{page.url}}"></div>
<!-- 多说评论框 end -->
{% include JB/comments %}